{% if listing|length %}
<section class="carousel carousel-fade slide home-slider" id="c-slide" data-ride="carousel" data-interval="4500" data-pause="false">
    <ol class="carousel-indicators">
{% for sld in listing %}
        <li data-target="#c-slide" data-slide-to="{{ forloop.counter0 }}" class="{% if sld.offset == active_slide %}active{% endif %}"></li>
{% endfor %}
    </ol>
    <div class="carousel-inner">
{% for sld in listing %}
        <div class="item {% if sld.offset == active_slide %}active{% endif %}" style="background: url({% static sld.cover %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 scaleInv anim_1 {{ sld.css_class }}">
                        <div class="fadein scaleInv anim_1">
                            <h1 class="carouselText1 animated fadeInUpBig">{{ sld.title }}</h1>
                        </div>
{% for entry in sld.entries.all %}
                        <div class="fadein scaleInv anim_2">
                            <p class="carouselText{{ forloop.counter|add:1 }} {{ entry.css_class }}">
{% if entry.css_icon %}
                                <i class="icon-{{ entry.css_icon }}"></i>
{% endif %}
                                {{ entry.content }}
                            </p>
                        </div>
{% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
    </div>
    <a class="left carousel-control animated fadeInLeft" href="#c-slide" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="right carousel-control animated fadeInRight" href="#c-slide" data-slide="next"><i class="icon-angle-right"></i></a>
</section>
{% else %}
<section class="carousel carousel-fade slide home-slider" id="c-slide" data-ride="carousel" data-interval="4500" data-pause="false">
	<ol class="carousel-indicators">
		<li data-target="#c-slide" data-slide-to="0" class="active"></li>
		<li data-target="#c-slide" data-slide-to="1" class=""></li>
		<li data-target="#c-slide" data-slide-to="2" class=""></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active" style="background: url({% static 'img/demo/bg.jpg' %});">
			<div class="container">
				<div class="row">
					<div class="col-md-6 fadein scaleInv anim_1">
						<div class="fadein scaleInv anim_2">
							<h1 class="carouselText1 animated fadeInUpBig">Welcome to <span class="colortext">Calypso</span></h1>
						</div>
						<div class="fadein scaleInv anim_1">
							<p class="carouselText2 animated fadeInLeft">
								 MultiPurpose Template
							</p>
						</div>
						<div class="fadein scaleInv anim_2">
							<p class="carouselText3">
								<i class="icon-ok"></i> Bootstrap 3.0+ Compatible
							</p>
						</div>
						<div class="fadein scaleInv anim_3">
							<p class="carouselText3">
								<i class="icon-ok"></i> Responsive Layouts
							</p>
						</div>
						<div class="fadein scaleInv anim_4">
							<p class="carouselText3">
								<i class="icon-ok"></i> Beautiful Animation Effects
							</p>
						</div>
						<div class="fadein scaleInv anim_5">
							<p class="carouselText3">
								<i class="icon-ok"></i> Top Notch Support
							</p>
						</div>
					</div>
					<div class="col-md-6 text-center fadein scaleInv anim_2">
						<div class="text-center">
							<div class="fadein scaleInv anim_3">
								<img src="{% static 'img/demo/slide1-3.png' %}" alt="" class="slide1-3 animated rollIn">
							</div>
							<div class="fadein scaleInv anim_8">
								<img src="{% static 'img/demo/slide1-1.png' %}" alt="" class="slide1-1 animated rollIn">
							</div>
							<div class="fadein scaleInv anim_5">
								<img src="{% static 'img/demo/slide1-2.png' %}" alt="" class="slide1-2 animated rollIn">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item" style="background: url(img/demo/slide1.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-md-6 animated fadeInUp notransition">
						<img src="{% static 'img/demo/desktop3.png' %}" alt="" style="width:90%;">
					</div>
					<div class="col-md-6 animated fadeInDown  notransition topspace30 text-right">
						<div class="car-highlight1 animated fadeInLeftBig">
							 Add ANYTHING in Slider
						</div>
						<br>
						<div class="car-highlight2 animated fadeInRightBig notransition">
							 Powerful Options
						</div>
						<br>
						<div class="car-highlight3 animated fadeInUpBig notransition">
							 Video, Audio, Text, Iframes etc
						</div>
						<br>
						<div class="car-highlight4 animated flipInX notransition">
							 Any HTML5 code you wish
						</div>
						<br>
						<div class="car-highlight5 animated rollIn notransition">
							 Slider with <span class="font100">Total Control</span><br>
							<span class="font100" style="font-size:20px;">Embed Practically</span> Anything<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item" style="background: url(img/demo/slide3.jpg);">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<br>
						<br>
						<div class="animated fadeInDownBig notransition">
							<span class="car-largetext">Vivid Skins <span class="font300">&amp; Three</span> Layouts</span><br>
						</div>
						<br>
						<br>
						<div class="car-widecircle animated fadeInLeftBig notransition">
							<span>Wide</span>
						</div>
						<div class="car-middlecircle animated fadeInUpBig notransition">
							<span>Boxed</span>
						</div>
						<div class="car-smallcircle animated fadeInRightBig notransition">
							<span>Narrow</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.carousel-inner -->
	<a class="left carousel-control animated fadeInLeft" href="#c-slide" data-slide="prev"><i class="icon-angle-left"></i></a>
	<a class="right carousel-control animated fadeInRight" href="#c-slide" data-slide="next"><i class="icon-angle-right"></i></a>
</section>
{% endif %}
