{% if profile %}
<div id="{{ tag_id }}" class="jeditable">{{ as_text }}</div>
<script>
$(document).ready(function() {
    $('div#{{ tag_id }}.jeditable').editable("{% url 'editable_trans_dynamic' subdomain='api' %}?{{ uri_qs }}", {
        type       : 'text',

        tooltip    : 'Click to edit...',
        cancel     : '<button><i class="icon-remove"></i></button>',
        submit     : '<button><i class="icon-ok"></i></button>',

        //indicator : '<img src="img/indicator.gif">',
    });
});
</script>
{% else %}
{{ value }}
{% endif %}
